:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration:none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*flime principal*/

.filme-principal{
    font-size: 16px;
    background-image: url('../img/fundo_rick.jpg');
 
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 5px;
    margin-bottom: 90px;
}
.titulo{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color:var(--vermelho);
    border:none ;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    margin-left: 10px;
}

 .botao:hover{
     background-color: black;
     color: var(--vermelho);
    }

.botao i{
    margin: 5px;
}

.container{
    margin-left: 10px;
}

.filme-principal .container{
    width: 400px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}